.registration{
  text-align: center;
  background-color: black;
  position: absolute;
  bottom: 0px;
  color: white;
}

.registration__list{
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
}