*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1e1e1e;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

[class*='container'] {
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 10px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.icon {
  font-size: 24px;
  fill: #fff;
  width: 100%;
}

.is-active {
  background-color: #f92457;
  color: #fff;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.reg-button {
  border-radius: 30px;
  padding: 10px;

  background-color: #f92457;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
